.App {
  text-align: center;
  background-color: rgba(187, 255, 0, 0.13);
  min-height: 1000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.RegisterComp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 2rem auto;
  gap: 5px;
}

.RegisterComp input,
.RegisterComp select,
.RegisterComp button {
  padding: 0.6rem;
}

.LoginComp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 2rem auto;
  gap: 5px;
}

.LoginComp input,
.LoginComp button {
  padding: 0.6rem;
}

.NavBar {
  background-color: rgb(245, 114, 114);
  padding: 0.9rem;
  box-shadow: 0px 10px rgb(224, 163, 163);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.barRight {
  display: flex;
  margin-left: 30%;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar h2 {
  margin-right: 25px;
  color: rgba(255, 255, 255, 0.767);
}

.innerBar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.innerBar div {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 25px;
}

.NavBar a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  border-bottom: 1px solid black;
  border-bottom-style: groove;
  font-weight: 700;
}

.navLinks a:hover,
.NavBar button:hover {
  font-size: 30px;
}

.NavBar button {
  background-color: rgb(245, 114, 114);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-bottom-style: groove;
  font-weight: 700;
}

.ProfilePage img,
.UserCard img {
  width: 400px;
  height: 400px;
}

.UserCard {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.disabled {
  opacity: 20%;
}

.userCard {
  background-color: rgba(216, 112, 147, 0.678);
  width: 700px;
  margin: 2rem auto;
  padding: 15px;
  border-radius: 25px;
}

.Like {
  cursor: pointer;
  color: green;
  padding: 25px;
  font-size: 30px;
  margin-top: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}

.Skip {
  cursor: pointer;
  color: red;
  padding: 25px;
  font-size: 30px;
  margin-top: 1rem;
  font-weight: bold;
}

.userInfo {
  background-color: rgba(37, 140, 97, 0.518);
  width: 500px;
  border-radius: 15px;
  margin: auto;
  padding: 0.3rem;
  margin-top: 25px;
}

.userInfo h1 {
  margin-top: 0px;
}

.bottomUtils {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 50%;
  align-items: center;
  margin: auto;
  gap: 15px;
}

.bottomUtils input,
.bottomUtils button {
  padding: 10px;
}

.matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.matches img {
  width: 400px;
  height: 400px;
}

.matchCard {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(245, 222, 179, 0.537);
  border-radius: 15px;
  gap: 15px;
}

.convoBtn {
  padding: 15px;
  font-size: 25px;
  font-weight: bolder;
  background-image: url('https://as1.ftcdn.net/v2/jpg/02/75/37/56/1000_F_275375660_k9bZNDNrXEA09UartV767A25KONhW3M6.jpg');
  background-size: cover;
}

.logo img {
  height: 35px;
}

.mainRef {
  position: absolute;
  left: 42%;
}

.fdbck {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  text-transform: uppercase;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.filters {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsUT_R01g9QyrwsdB4nOHnTQZtVMDR1mB45Q&usqp=CAU);
  opacity: 0.8;
  padding: 25px;
  border-radius: 25px;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto 15px;
  gap: 4px;
}

.filters input,
.filters select {
  padding: 5px;
}

.filters button {
  background-color: palevioletred;
  padding: 15px;
  border-radius: 15px;
}

.historyPage {
  display: flex;
  gap: 35px;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.historyPage img {
  width: 400px;
  height: 400px;
}

.historyBtn {
  padding: 20px;
  margin-top: 50px;
  border-radius: 50px;
  background-color: burlywood;
  font-weight: 700;
  font-size: 20px;
}
